$fontColor: rgb(38, 38, 38);

// @import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  box-sizing: border-box;
  line-height: 1;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", helvetica, "Apple Color Emoji", sans-serif;
  font-size: 16px;
  // font-size: calc(1.6em + 0.5vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
  color: $fontColor;
  background-color: transparent;
}

body {
  display: block;
}

button {
  color: $fontColor;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  .col, 
  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.text-center {
  text-align: center !important;
}
